.card {
    width: 280px;
    height: 250px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
               margin: 40px;
  }

  .contenedor {
    background-color: transparent;

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin: 40px;
  }