 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    background-color: #e6c2bf;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.portada{
    width: 70rem;
}

.container {
    position: relative;
    display: inline-block;
  }
  .button {
    position: absolute;
    top: 65%;
    left: 57%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #e6c2bf;
    color: #ff008c;
    border: 1px solid #ff008c;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
  }

  
  @media (max-width: 480px){
    .portada{
        width: 300px;
    }
  }